@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

.container {
  position: relative;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.flip-box {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

input#flip {
  display: none;
}

.flip-box .login-box,
.flip-box .register-box {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgba(255,255,255,0.2);
  border: 2px solid rgba(255,255,255,0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

.flip-box .register-box {
  transform: rotateY(180deg);
}

input#flip:checked ~ .flip-box {
  transform: rotateY(180deg);
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  line-height: 57px;
}

.remember-forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.remember-forget label input {
  margin-right: 3px;
}

.remember-forget a {
  color: #fff;
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  font-weight: 500;
}

.register-link {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register-link p label {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.register-link p label:hover {
  text-decoration: underline;
}

.messages {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.alert {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.alert-success {
  background-color: rgba(40, 167, 69, 0.9);
}

.alert-error {
  background-color: rgba(220, 53, 69, 0.9);
}

@media (max-width: 360px) {
  .login-box {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
  .input-box {
    width: 290px;
  }
}
